/*Estilização da aplicação*/

Body {
    background-color: rgb(28, 31, 28);
}

.capa {
    margin-top: 128px;
    text-align: center;
    align-items: center;
}

img {
    width: 120px;
    height: 80px;
    align-items: ]center;
}

h1,
p,
a {
    font-family: 'Lucida Sans';
    color: cadetblue;
}

p {
    color: yellowgreen;
}

a {
    color: tomato;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.img img {
    width: 60px;
    height: 40px;
}

.michell {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    color: yellow;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
}